.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
  border: none;
}
.hover-shadow:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.custom-text {
  cursor: pointer;
}

.custom-hover:hover {
  text-decoration: underline;
}
.custom-color {
  cursor: pointer;
  font-size: 10px;
}
.custom-color:hover {
  color: rgb(5, 168, 168);
}
.custom-footer {
  background-color: rgb(46, 46, 46);
}
.custom-p {
  color: rgb(61, 189, 240);
  font-size: 20px;
  margin-top: 20px;
}

.custom-btn:hover {
  background-color: rgb(46, 112, 255);

  color: white;
}
.header {
  top: 0;
  z-index: 1000;
}
.nav-class:hover {
  text-decoration: underline;
}

.fs-class {
  font-size: 10px;
}
.m-class {
  margin: 1px;
}
.n-class {
  margin-top: 8%;
}
.h-class {
  margin-left: 12%;
}
.bg-color {
  background-color: rgb(255, 229, 233);
}
.pl-class {
  background-color: rgb(230, 248, 255) !important;
}
.p-class {
  margin-top: 7%;
}
.bg-color {
  background-color: rgb(233, 249, 255);
}
.max-class {
  width: 42.5%;
  margin-left: 13%;
  margin-top: 0.5%;
}
.text {
  width: 98%;
  border-radius: 25px;
}

.textt {
  margin-left: 70%;
}
.fs {
  font-size: 16px;
}
.bgs {
  background-color: rgb(212, 212, 212);
  padding: 10px;
}
